*.box size {
    box-sizing: border-box;
}





.Title {
    border-style: solid;
    border-color: #000000;
    background-color: #000;
    font-size: 30px;
    padding: 1px;
    margin-bottom: 10px;
    text-align: center;
    color: #ffffff;
    text-shadow: #292929 1px 0 10px;
    position: relative;
    top: 0%;
}


.Mobile {
    max-height: 700px;
}





body {
    font-family: 'Five Nights At Freddys', sans-serif;
    background-color: #3c2d3f;
    font-size: 50px;
    padding: 20px;
    display: grid;

}


.PFormat {
    text-indent: 50px;
    text-align: left;



}

h2 {
    color: #000;
    text-align: center;
    font-size: 2em;
}

.warpper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tab {
    cursor: pointer;
    padding: 10px 20px;
    margin: 0px 2px;
    background: #907893;
    display: inline-block;
    color: #fff;
    border-radius: 3px 3px 0px 0px;
    box-shadow: 0 0.5rem 0.8rem #00000080;
}

.panels {
    font-family: 'Merchant Copy Doublesize', sans-serif;
    font-family: 'Merchant Copy Wide', sans-serif;
    font-family: 'Merchant Copy', sans-serif;
    background: #b5a8bd;
    box-shadow: 0 2rem 2rem #00000080;
    min-height: 200px;
    width: 100%;
    max-width: 1000px;
    border-radius: 3px;
    overflow: hidden;
    padding: 20px;
}

.panel {
    display: none;
    animation: fadein .8s;
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.panel-title {
    font-size: 1.5em;
    font-weight: bold
}

.radio {
    display: none;
}

#one:checked~.panels #one-panel,
#two:checked~.panels #two-panel,
#three:checked~.panels #three-panel {
    display: block
}

#one:checked~.tabs #one-tab,
#two:checked~.tabs #two-tab,
#three:checked~.tabs #three-tab {
    background: #fffffff6;
    color: #000;
    border-top: 3px solid #000;
}